<div class="container col-md-10">
  <%= form_for @changeset, login_path(@conn, :login), fn f -> %> 
    <%= input f, :email, using: :text_input %>
    <%= input f, :password, using: :password_input %>
    <%= submit "Submit", class: "btn btn-primary" %>
  <% end %>
  <%= link("New User?", to: registration_path(@conn, :index)) %>
</div>
