<div class="container col-md-10">
  <%= form_for @changeset, login_path(@conn, :login), fn f -> %> 
    <%= input f, :user_id, using: :text_input %>
    <%= input f, :encrypted_password, using: :password_input %>
    <%= submit "Submit", class: "btn btn-primary" %>
  <% end %>
  <%= link("New User?", to: registration_path(@conn, :index)) %>
</div>
